<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="dev" value="..\PackageTest\packages" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="dev">
      <package pattern="WitBindgen" />
      <package pattern="WasmComponent.Sdk" />
    </packageSource>
  </packageSourceMapping>
</configuration>
